//--- Responsive breakpoint manager 
@mixin respond-to ($breakpoint)  {
    $raw-query: map-get($breakpoints, $breakpoint );

    @if $raw-query{
        $query: if(
            type-of($raw-query) == 'string',
            unquote($raw-query),
            inspect($raw-query)
        );

        @media #{$query}  {
            @content;
        }
    } @else {
        @error 'No value found for `#{$breakpoint}`.'
            + 'Please make sure it is defined in `$breakpoints` map.';
    }
}
@mixin progressBar {
    position: relative;
    background-color: $soft-red;
    border-radius: 3px;  
}

@mixin dailyExpense {
    color: $cream;
    position: absolute;
    top: -35px;
    left: -12.5%;
    background-color: $dark-brown;
    width: 125%;
    height: 0;
    opacity: 0;
    border-radius: 6px;
    text-align: center;
    font-weight: $bold;
    transition:all 0.35s ease-in-out;

}

@mixin dailyExpesneHover  {
    height: 23px;
    opacity: 1;
}