@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
.progress .daily-expense, .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(27deg, 66%, 92%);
  min-height: 100vh;
}

.container {
  width: 95%;
  max-width: 400px;
  flex-direction: column;
  row-gap: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 62.5%;
}

.balance {
  background-color: hsl(10deg, 79%, 65%);
  border-radius: 12px;
  padding: 15px;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.balance__title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 0.8rem;
  font-weight: 400;
}
.balance__title__income {
  font-size: 1.5rem;
  font-weight: 800;
}
.balance__logo {
  background: url("../images/logo.svg") center/contain no-repeat;
  height: 61px;
  width: 61px;
}

.expenses {
  background-color: hsl(33deg, 100%, 98%);
  border-radius: 12px;
  width: 100%;
  padding: 25px 30px;
}
.expenses__title {
  color: hsl(25deg, 47%, 15%);
  text-align: left;
  font-size: 1.6rem;
  font-weight: 800;
}
.expenses__daily {
  border-bottom: 1px solid hsl(27deg, 66%, 92%);
  margin: 50px 0 10px 0;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  height: 175px;
}

.vertical-wrapper {
  padding: 0 6px;
}
.vertical-wrapper .bar {
  height: 150px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.day {
  margin-top: 10px;
  font-size: 0.7rem;
  color: hsl(28deg, 10%, 53%);
  font-weight: 400;
  text-align: center;
}

.progress {
  height: 0%;
  transition: height 0.5s ease-in-out;
  position: relative;
  background-color: hsl(10deg, 79%, 65%);
  border-radius: 3px;
}
.progress.blue {
  background-color: hsl(186deg, 34%, 60%);
}
.progress:hover {
  filter: brightness(1.2);
  transition: 0.3s ease-in;
}
.progress:hover .daily-expense {
  height: 23px;
  opacity: 1;
}
.progress .daily-expense {
  color: hsl(27deg, 66%, 92%);
  position: absolute;
  top: -35px;
  left: -12.5%;
  background-color: hsl(25deg, 47%, 15%);
  width: 125%;
  height: 0;
  opacity: 0;
  border-radius: 6px;
  text-align: center;
  font-weight: 700;
  transition: all 0.35s ease-in-out;
}

.resume {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.resume__total {
  height: 100%;
}
.resume__increase {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.total-text {
  font-size: 0.8rem;
  color: hsl(28deg, 10%, 53%);
  line-height: 2;
}

.total-value {
  color: hsl(25deg, 47%, 15%);
  font-weight: 700;
  font-size: 2.4rem;
  margin-top: 25px;
}

.increase-text {
  font-size: 0.8rem;
  color: hsl(28deg, 10%, 53%);
  line-height: 2;
}

.increase-value {
  color: hsl(25deg, 47%, 15%);
  font-weight: 700;
  font-size: 1rem;
}

#spent_lastweek {
  width: 100px;
  height: 35px;
  border-radius: 6px;
  color: hsl(25deg, 47%, 15%);
  background-color: hsl(27deg, 66%, 92%);
  border: 1px solid hsl(33deg, 100%, 98%);
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
  padding-left: 15px;
}
#spent_lastweek::-moz-placeholder {
  font-size: 0.9rem;
}
#spent_lastweek:-ms-input-placeholder {
  font-size: 0.9rem;
}
#spent_lastweek::placeholder {
  font-size: 0.9rem;
}

.spent_lastweek {
  color: hsl(28deg, 10%, 53%);
  margin-top: 7px;
}/*# sourceMappingURL=main.css.map */